@* examplechart Template File *@
<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script>
	google.charts.load('current', {
		packages : [ 'corechart', 'bar' ]
	});
	google.charts.setOnLoadCallback(drawStacked);
	var jsonData
	function drawStacked() {
		jsonData = {
			"cols" : [ {
				"id" : "",
				"label" : "Time of Day",
				"pattern" : "",
				"type" : "timeofday"
			}, {
				"id" : "",
				"label" : "Motivation Level",
				"pattern" : "",
				"type" : "number"
			}, {
				"id" : "",
				"label" : "Energy Level",
				"pattern" : "",
				"type" : "number"
			} ],
			"rows" : [ ]
		}
		var googleData = new google.visualization.DataTable(jsonData);

		String.prototype.replaceAll = function(search, replacement) {
			var target = this;
			return target.replace(new RegExp(search, 'g'), replacement);
		};
		var options = {
			title : 'Motivation and Energy Level Throughout the Day',
			isStacked : true,
			hAxis : {
				title : 'Time of Day',
				format : 'h:mm a'
			},
			vAxis : {
				title : 'Rating (scale of 1-10)'
			}
		};

		var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		chart.draw(googleData, options);

		function getData() {
			var series1 = "motivation"
			var series2 = "energy"
			jsonData.rows.length = 0;

			var response1
			var response2
			var call1 = $.getJSON("/timeseries/" + series1, function(data) { response1=data } );
			var call2 = $.getJSON("/timeseries/" + series2, function(data) { response2=data } );
			$.when(call1, call2).then(function () {

				var mapped = {}; 
				for (var i = 0; i < response1.length; i++) {
    				mapped[response1[i].label] = [ response1[i].value , 0 ] ;
				} 
				for (var i = 0; i < response2.length; i++) {
					if ( typeof mapped[response2[i].label] === 'undefined' ) {
    					mapped[response2[i].label] = [ 0 , response2[i].value ] ;
					} else {
    					var current = mapped[response2[i].label] ;
    					current[1]= response2[i].value;
					}
				} 
				jsonData.rows.length = 0;

				var sortIt = Object.keys(mapped).sort()

				for(var k in sortIt ) {
		  	        var key = sortIt[k]
		  	        var value = mapped[ key ]
		  	        var c =  {"v":[key],"f":key}
  	        		var v = { "v": value[0] }
  	        		var v2 = { "v": value[1] }
					jsonData.rows.push({ "c" : [ c  , v , v2 ] });

				}
				//console.log(JSON.stringify(jsonData	));
				chart.draw(googleData, options);
			});


				
		}

		getData();
		setInterval( getData , 5000);
				
	}
</script>

</head>
<body>
<div id="chart_div"></div>
<div id="swagger">
<a href="@routes.HomeController.swagger" >
<img src='@routes.Assets.at("lib/swagger-ui/images/favicon-32x32.png")' style="vertical-align:middle;width:32px;height:32px;"></a>
<a href="@routes.HomeController.swagger" >Swagger</a>
</div>
</body>
</html>